.stati_preview img{
    width: 300px;
    height: 150px;
    padding: 15px 15px;
}


.stati_preview{
    margin: 5px 5px 5px 5px;
    border:solid 2px red;
    display: flex;
}

.stati_preview__text{
    margin: 15px 15px;
    padding-left: 25px;
    border-left: solid 2px gainsboro;
    width: 70%;
}

.stati_preview a{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.stati_preview__title{
    text-align: center;
    border-bottom: solid 1px gray;

}

.stati_preview__title h2{
    margin: 0px 0px;
}

.content{
    width: 75%;
}